.projects-section {
  display: flex;
  width: 100%;
  height: 100%;

  .left-side {
    width: 30rem;
    // height: 100%;
    display: flex;
    flex-direction: column;

    .left-side-title,
    .categories,
    .projects-container {
      border: 1px solid #1e2d3d;
      border-top: none;
      border-left: none;
      padding: 0.5rem 2rem;
    }

    .categories {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 4rem 2rem;
      font-size: 1.6rem;

      .checkbox-container {
        display: flex;
        gap: 3rem;
        align-items: center;

        input[type="checkbox"] {
          width: 2rem !important;
          height: 2rem !important;
          position: relative;
          // margin: 5px;
          -webkit-appearance: none;
          -moz-appearance: none;
          -o-appearance: none;
          appearance: none;
          outline: 1px solid gray;
          box-shadow: none;
          font-size: 0.8em;
          text-align: center;
          line-height: 1em;
          background: transparent;
          border-radius: 1px;
        }

        input[type="checkbox"]:checked {
          background: #607b96;
        }

        input[type="checkbox"]:checked:after {
          position: absolute;
          content: "✔";
          color: white;
          font-size: 2rem;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .category-name {
          display: flex;
          gap: 1rem;
          align-items: center;

          .tech-icon {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;

    .right-side-title,
    .projects-container {
      border: 1px solid #1e2d3d;
      border-top: none;
      border-left: none;
    }

    .right-side-title {
      display: flex;
      align-items: center;

      .close-icon {
        border-right: 1px solid #1e2d3d;
        padding: 0.8rem 2rem 0.8rem 2rem;
      }

      .title-categories {
        display: flex;

        p {
          display: inline-block;
          padding: 0.5rem 4rem 0.5rem 2rem;
        }
      }
    }

    .projects-container {
      // height: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 5rem;
      padding: 5rem 10rem;
      overflow-x: hidden;
      border-bottom: none;

      .project-card {
        display: flex;
        flex-direction: column;
        width: 45rem;
        height: 40rem;
        background-color: #011221;
        border: 1px solid #1e2d3d;
        border-radius: 15px;
        overflow: hidden;

        .project-image {
          overflow: hidden;
          flex: 1;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .project-details {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0 4rem;
          gap: 2rem;

          .project-link {
            display: inline-block;
            padding: 1rem 2rem;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .projects-section {
    flex-direction: column;
    position: absolute;
    top: 9rem;
    overflow: scroll;

    .left-side {
      width: 100%;

      .categories {
        flex-direction: row;
        gap: 3rem;
        padding: 2rem 2rem;
        flex-wrap: wrap;

        .checkbox-container {
          gap: 1.5rem;
        }
      }
    }

    .right-side {
      .projects-container {
        justify-content: center;
        .project-card-container:last-child {
          margin-bottom: 15rem;
        }
      }
    }
  }
}
