.App {
  width: 100vw;
  height: 100vh;
  background-color: #011627;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page {
  background: #011627;
  border: 1px solid #1e2d3d;
  height: 90vh;
}

.grid-containers {
  display: flex;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .App {
    grid-template-rows: 1fr auto;
  }

  .grid-containers {
    flex-direction: column;
    position: absolute;
    top: 9rem;
  }
}
