.grid-container-about-tab {
  display: grid;
  grid-template-columns: 30rem;
  grid-template-rows: auto auto auto 1fr;

  .tab-title {
    border: 1px solid #1e2d3d;
    border-top: none;
    border-left: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .tab {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid #1e2d3d;
    border-top: none;
    border-left: none;
    padding: 1.2rem;
    color: #607b96;
    font-size: 1.6rem;
  }

  .mail-tab,
  .phone-tab {
    border: none;
    padding: 0.5rem 1rem;
  }

  .readme-tab {
    color: #fff;
  }
}

.grid-container-about-content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;

  .readme-input {
    position: absolute;
    display: inline-block;
    right: 30px;
    top: 20px;
    width: 40px;
    height: 40px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  .about-content-col {
    border: 1px solid #1e2d3d;
    border-top: none;

    .about-content-tab {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 25rem;
      border-right: 1px solid #1e2d3d;
      padding: 0.5rem 1rem;
      color: #607b96;
    }

    .mobile-preview-icons {
      opacity: 0;
      display: none;
    }
  }

  .readme-content-container {
    border: 1px solid #1e2d3d;
    border-top: none;
    border-bottom: none;
    padding: 3rem 6rem;
  }

  ol {
    counter-reset: nodots;
    list-style-type: none;

    li {
      display: block;

      &:before {
        content: counter(nodots) " ";
        counter-increment: nodots;
        margin-right: 1rem;
      }

      .readme-title {
        color: #378ce6;
      }
    }
  }

  .readme-visual-content-container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 4rem;

    .first-section {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .hi-there {
        display: flex;
        gap: 2rem;
        align-items: center;
      }

      ul {
        margin-left: 3rem;
      }
    }

    .second-section,
    .third-section {
      .icons {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        align-items: center;
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .grid-containers {
    .grid-container-about-tab {
      grid-template-columns: 1fr;
    }

    .grid-container-about-content {
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: scroll;

      .code-input {
        position: absolute;
        z-index: 99999;
        top: -8px;
        right: 60px;
        width: 3rem;
      }
      .file-input {
        position: absolute;
        z-index: 99999;
        top: -8px;
        right: 22px;
        width: 3rem;
      }
      .file-input:checked ~ .about-content-col {
        .mobile-preview-icons {
          .file-icon {
            color: #fff;
          }
          .code-icon {
            color: #607b96;
          }
        }
      }

      .code-input:checked ~ .about-content-col {
        .mobile-preview-icons {
          .code-icon {
            color: #fff;
          }
          .file-icon {
            color: #607b96;
          }
        }
      }

      .file-input:checked ~ .readme-content-container,
      .file-input:checked ~ .readme {
        display: none !important;
      }

      .file-input:checked ~ .readme-visual-content-container,
      .file-input:checked ~ .preview {
        display: block;
        opacity: 100;
      }

      .code-input:checked ~ .readme-content-container,
      .code-input:checked ~ .readme {
        display: block;
      }

      .code-input:checked ~ .readme-visual-content-container,
      .code-input:checked ~ .preview {
        display: none !important;
      }

      .code-input:checked ~ .about-content-col {
        .mobile-preview-icons {
          .code-icon {
            color: #fff;
          }
          .file-icon {
            color: #607b96;
          }
        }
      }

      .preview {
        display: none;
        opacity: 0;
        border-top: 1px solid #1e2d3d;
      }

      .readme {
        border-top: 1px solid #1e2d3d;
      }
      .about-content-col {
        display: flex !important;
        border-left: none;
        border-right: none;
        align-items: center;
        justify-content: space-between;
        .mobile-preview-icons {
          opacity: 100;
          padding: 0 3rem;
          display: flex;
          gap: 2rem;
          position: relative;

          .code-icon {
            color: #fff;
          }

          .file-icon {
            color: #607b96;
          }
        }
      }

      .readme-content-container,
      .readme-visual-content-container {
        margin-bottom: 15rem;
        border-left: none;
        border-right: none;
        overflow: scroll;
      }

      .readme-visual-content-container {
        display: none;
      }
    }
  }
}
