.menu-input {
  position: absolute;
  display: inline-block;
  right: 30px;
  top: 20px;
  width: 40px;
  height: 40px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.menu-input:checked ~ .header-container {
  .header-title {
    .hamburger-menu {
      .hamburger-top {
        transform: rotate(45deg) translateX(1rem) translateY(0.9rem);
      }
    }
  }
}

.menu-input:checked ~ .header-container {
  .header-title {
    .hamburger-menu {
      .hamburger-middle {
        opacity: 0;
      }
    }
  }
}

.menu-input:checked ~ .header-container {
  .header-title {
    .hamburger-menu {
      .hamburger-bottom {
        transform: rotate(-45deg) translateX(0.8rem) translateY(-1rem);
      }
    }
  }
}

.menu-input:checked ~ .header-container {
  .nav-link {
    opacity: 100;
  }
}

.menu-input:checked ~ .header-container {
  z-index: 1;
}

.header-container {
  display: grid;
  grid-template-columns: 30rem auto auto auto 1fr auto;
  color: #607b96;

  div {
    padding: 1rem;
  }

  .header-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #1e2d3d;
    // justify-content: space-between;

    .hamburger-menu {
      flex: 1;
      display: none;
      position: relative;

      .line {
        padding: 0;
        position: absolute;
        width: 4rem;
        height: 0.3rem;
        background-color: #fff;
        right: 0;
        // top: 50%;
        // transform: translateY(-50%);
      }

      .hamburger-top {
        top: 0.7rem;
        transition: all 0.4s ease-in-out;
      }

      .hamburger-middle {
        transition: all 0.2s ease-in-out;
      }

      .hamburger-bottom {
        bottom: 0.4rem;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .nav-link {
    padding: 1rem 2rem;
    text-decoration: none;
    border: 1px solid #1e2d3d;
    color: #607b96;
  }

  a.active {
    border-bottom: 2px solid #fea55f;
    color: #fff;
  }

  .slider-container {
    overflow: hidden;
    position: relative;
    .sliding-text {
      // display: inline-block;
      position: absolute;
      right: -270px;
      animation-name: slideToLeft;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 10s;
    }
  }
}

@keyframes slideToLeft {
  from {
    right: -270px;
  }
  to {
    right: 100%;
  }
  // 0% {
  //   transform: translateX(0rem);
  // }
  // 100% {
  //   transform: translateX(-105rem);
  // }
}

@media screen and (max-width: 800px) {
  .header-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto 1fr;
    background-color: #010c15;

    div {
      padding: 2rem 3rem;
    }

    .header-title {
      .hamburger-menu {
        display: block;
      }
    }

    .nav-link {
      opacity: 0;
      padding: 2rem 3rem;
      text-align: center;
      transition: opacity 0.4s ease-in-out;
    }

    a.active {
      border-bottom: 2px solid #fea55f;
      color: #fff;
    }

    .slider-container {
      display: none;
    }
  }
}
