.header-container {
  display: grid;
  grid-template-columns: 30rem auto auto auto 1fr auto;
  color: #607b96;

  div {
    padding: 1rem;
  }

  .header-title {
    display: flex;
    align-items: center;
    // justify-content: space-between;

    .hamburger-menu {
      flex: 1;
      display: block;
      position: relative;

      input {
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
      }

      input:checked ~ .hamburger-top {
        transform: rotate(45deg) translateX(10px) translateY(9px);
      }

      input:checked ~ .hamburger-middle {
        opacity: 0;
      }

      input:checked ~ .hamburger-bottom {
        transform: rotate(-45deg) translateX(8px) translateY(-10px);
      }

      .line {
        padding: 0;
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #fff;
        right: 0;
        // top: 50%;
        // transform: translateY(-50%);
      }

      .hamburger-top {
        top: 7px;
        transition: all 0.4s ease-in-out;
      }

      .hamburger-middle {
        transition: all 0.2s ease-in-out;
      }

      .hamburger-bottom {
        bottom: 4px;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .nav-link {
    padding: 1rem 2rem;
    text-decoration: none;
    border: 1px solid #1e2d3d;
    color: #607b96;
  }

  a.active {
    border-bottom: 2px solid #fea55f;
    color: #fff;
  }

  .slider-container {
    overflow: hidden;
    position: relative;
    .sliding-text {
      display: inline-block;
      position: absolute;
      right: -35rem;
      animation-name: slideToLeft;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 12s;
    }
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(-105rem);
  }
}

@media screen and (max-width: 800px) {
  .header-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto 1fr;

    background-color: #010c15;
    z-index: 99;

    div {
      padding: 2rem 3rem;
    }

    .nav-link {
      // display: none;
      padding: 2rem 3rem;
      text-align: center;
    }

    a.active {
      border-bottom: 2px solid #fea55f;
      color: #fff;
    }

    .slider-container {
      display: none;
      overflow: hidden;
      position: relative;
      .sliding-text {
        display: inline-block;
        position: absolute;
        right: -35rem;
        animation-name: slideToLeft;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 12s;
      }
    }
  }
}
