*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 400 1.8rem/1.4 "Fira Code", "monospace";
  background: #010c15;
  color: #fff;
  overflow: hidden;
  display: block;
}
